# Base de datos de desarrollo
DB_USER=devopsedu
DB_PASSWORD=Test123
DB_NAME=devopsedu
DATABASE_URL=postgresql://devopsedu:Test123@localhost:5432/devopsedu?schema=public

# Base de datos de pruebas
DB_USER_TEST=devopsedu_test
DB_PASSWORD_TEST=Test123
DB_NAME_TEST=devopsedu_test
DATABASE_URL_TEST=postgresql://devopsedu_test:Test123@localhost:5433/devopsedu_test?schema=public
